@import "../Basic/fonts";
@import "../Basic/colors";



.form_b{
    background-color: $color_buscar;
    width: 950px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20%;
}
.input_b[type="search"]
{
    background-color:  rgba(104, 109, 104, 0.5);
    color: rgba(133, 139, 133, 0.4);
    text-align: left;
    font-size: 24px;
    height: 60px;
    width: 90%;
    outline: none;
    padding: 7px;
    margin-bottom: 25px;
    border-radius: 25px 25px 25px 25px;
    margin-top: 45px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.input_b[type="search"]:hover{
    background:rgba(133, 139, 133, 0.4);
  }
  
  @media (max-width:950px){
    form{
      width: 100%;
    }
  }