@import "../Basic/fonts";
@import "../Basic/colors";

*{
    box-sizing: border-box;
}
.form_c{
    width: 550px;
    margin: auto;
    padding: 10px 20px;
    background-color:$gris_transp;
    margin-top:10%;
    border-radius: 7px;
}
.input_c,.textarea_c{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    outline: none;
    box-shadow:2px 2px 5px $box_shadow;
    font-size: 24px;
    
    .label_c{
        color:$negro;
        font-size: 24px;
        text-align: left;
      }
  }
  .textarea_c{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
  }
  #boton{
    background: $contacto_boton;
    color: $blanco;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px 100px;
    border: 0;
    border-radius: 10px;
    font-size: 24px;
  }
  #boton:hover{
    cursor: pointer;
  }
  
  @media (max-width:550px){
    form{
      width: 100%;
    }
  }
