$gris_transp: #ffffff80;
$color_buscar: #ffffff00;
$blanco: #ffff;
$negro :#000000;
$contacto_boton: #FC908A;
$buscar_input: rgba(104, 109, 104, 0.5);
$buscar_color:rgba(133, 139, 133, 0.4);
$nosotros_fondo: rgba(70, 70, 70, 0.3);
$box_shadow: #999;
$cuadro_nosotros:rgba(70, 70, 70, 0.3);