@import "./colors";

$font: "Roboto Light";

*{
    font-family: $font;
}
.h1l{
        color:$blanco;
        padding: 0;
        font-size: 50px;
        text-align: center;
};

.h2l{
    color:$negro;
    text-align: center;
    margin: 0;
    font-size: 25px;
    margin-bottom: 20px;
};
